.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.hero-picture {
  width: 100%;
  max-height: 400px;
}

.placeholder {
  width: 100%;
  max-height: 800px !important;
  background-color: green;
}

.title {
  font-family: 'Panama Italic';
  text-transform: uppercase;
  font-size: 17vw;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.06em;
  padding: 2rem;
  position: relative;
  pointer-events: none;
  font-weight: 100;
}

.description {
  text-transform: uppercase;
  font-size: .85rem;
  margin-bottom: 1rem;
  font-weight: 100;
}

.subtitle {
  font-size: 15px;
  text-align: left;
  font-weight: 400;
  margin-bottom: 36px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  text-indent: 30vw;
}

.introduction {
  font-size: .85rem;
  text-align: left;
  font-weight: 400;
  margin-bottom: 36px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  text-indent: 30vw;
}

.home-footer {
  font-size: .85rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 36px;
  margin-top: 36px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
}

.gallery-container {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.gallery-container::-webkit-scrollbar {
  display: none;
  width: 0;
}

.gallery {
  width: 200vw;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.gallery:hover,
.gallery *:hover {
  cursor: grab;
}

.gallery:active,
.gallery *:active {
  cursor: grabbing;
}

.gallery img:nth-child(odd) {
  animation: float 7s ease-in-out infinite;
}

.gallery img:nth-child(even) {
  animation: float 10s ease-in-out infinite;
}

@keyframes float {
  from {
    transform: rotate(-0.001deg) translate3d(1rem, 0, 0) rotate(-0.001deg);
  }

  to {
    transform: rotate(360.001deg) translate3d(1rem, 0, 0) rotate(-360.001deg);
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .description {
    max-width: 280px;
  }

  .introduction {
    text-align: left;
    width: 55%;
    float: right;
  }
}

/* Laptop */
@media only screen and (min-width: 1024px) {
  .description {
    font-size: 1rem;
  }

  .home-footer {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .introduction {
    font-size: 1rem;
    text-indent: calc((100vw - 36px) / 21);
    line-height: 1.8;
  }

  .gallery-container {
    border: none;
  }
}

/* Laptop L*/
@media only screen and (min-width: 1440px) {
  .home-footer {
    font-size: 1.5rem;
  }
}

/* Laptop HD*/
@media only screen and (min-width: 1920px) {
  .description {
    font-size: 1.2rem;
    max-width: 320px;
  }

  .home-footer {
    margin: 1rem auto;
    width: calc(100% - 35rem);
  }

  .gallery-container {
    border: none;
  }
}