.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  background-color: white;
}

.title {
  font-family: 'Panama Italic';
  text-transform: uppercase;
  font-size: 17vw;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.06em;
  padding: 24px 24px 18px;
  position: relative;
  pointer-events: none;
  width: calc(100% + 36px - 48px);
  transform: translateX(-18px);
  font-weight: 100;
}

.description {
  text-transform: uppercase;
  font-size: .85rem;
  margin-bottom: 1rem;
  font-weight: 100;
}

.subtitle {
  font-size: 15px;
  text-align: left;
  font-weight: 400;
  margin-bottom: 36px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  text-indent: 30vw;
}

.gallery {
  background-color: yellow;
  max-height: 600px;
  width: 300vw !important;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-x: auto;
}

.gallery img:nth-child(odd) {
  margin-left: -20px;
}

.gallery img:nth-child(even) {
  filter: opacity(.5);
}